use Mix.Config

config :api,
  enabled: true

# Per Node: Cron Scheduler Override
#
#config :reducers, API.Scheduler,
#  global?: true,
#  jobs: [
#    [name: "heartbeat", schedule: "* * * * *", task: {Service.Cron, :heartbeat, []}, run_strategy: {Quantum.RunStrategy.Random, :cluster}]
#  ]
